.searchPanel {
  display: block;
  padding: 25px;
  width: 100%;
  background-color: var(--background-color);
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
  color: var(--primary-color);
}
