@keyframes hideElement {
  0% {
    opacity: 1; /* Начальная прозрачность (видимость) элемента */
  }
  100% {
    opacity: 0; /* Прозрачность элемента станет 0 после 1 секунды */
    display: none;
  }
}
