@import url(./variables.scss);

@import url(../components/sidebar/styles/sidebar.scss);
@import url(../components/sidebar/styles/media.scss);

@import url(../components/searchPanel/styles/searchPanel.scss);
@import url(../components//searchPanel/styles/media.scss);

body {
  background-color: var(--background-color);
  margin: 0 0;
}

.App {
  display: flex;
}
