@import url(./variables.scss);
@import url(./animations.scss);

@import url(../components/sidebar/styles/sidebar.scss);
@import url(../components/sidebar/styles/media.scss);

@import url(../components/searchPanel/styles/searchPanel.scss);
@import url(../components//searchPanel/styles/media.scss);

body {
  background-color: var(--background-color);
  margin: 0 0;
}

.App {
  display: flex;
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.table {
  thead {
    position: sticky;
    top: 40vh;
  }
  tr {
    width: 100px;
  }
  &__checkbox {
    width: 50px;
  }
}
